<div class="flex-container">
    <button mat-mini-fab color ="primary" routerLink="/produtos">
      <mat-icon>arrow_left</mat-icon>
    </button>
    <mat-card>
      <form action="" id="main-form" [formGroup]="produtos" (ngSubmit)="submit()">
  
        <mat-form-field appearance="outline" >
          <mat-label>Nome do Produto</mat-label>
          <input type="text" matInput formControlName="nome">
          <mat-error>
            Campo obrigatório!
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" >
          <mat-label>Tipo do produto</mat-label>
          <input type="text" matInput formControlName="tipo">
          <mat-error>
            Campo obrigatório!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" >
            <mat-label>valor do produto</mat-label>
            <input type="text" matInput formControlName="valor">
            <mat-error>
              Campo obrigatório!
            </mat-error>
          </mat-form-field>

  
        <button mat-raised-button color="accent" type="submit" style="margin-top:10px;">Editar</button>
  
      </form>
    </mat-card>
  </div>

  
