.flex-container{
    background-color: blueviolet;
}
.fun-table{
    width: 90%;
}

td:hover {
    background: gray;
}

.add{
    position: fixed;
    right:50px;
    bottom:50px;
}

@media(max-width:385px){
    .fun-table{
        width:100%;
    }
}